<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><i class="fa-solid fa-house"></i></a>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/catalog">Browse</a>
      </li>
      {{#if hasUser}}
      <li class="nav-item">
        <a class="nav-link" href="/create">Host</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="extras/create">Add Extras</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/auth/logout">Logout</a>
      </li>
      {{else}}
       <li class="nav-item">
        <a class="nav-link" href="/auth/login">Login</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/auth/register">Register</a>
      </li>
      {{/if}}
      </div>
    </ul>
  </div>
</nav>