<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="icon" href="/static/house.jpg">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body class="all">
    {{#if hasUser}}
    <span>Welcome, {{username}}</span>
    {{/if}}
    {{> navbar}}
    <div class="container">
    {{{body}}}
    </div>
</body>
</html>