<section>
    <h1>All Rooms</h1>
    {{#if places}}
    <main>
        <ul>
            {{#each places}}
            {{> placeCard}}
            {{/each}}
        </ul>
    </main>
    {{else}}
    <p>No Rooms In Our Data. Be The First To Host!</p>
    <div>
        <a class="action" href="/create">Host A Room</a>
    </div>

    {{/if}}
</section>