<form action="/extras/create" method="post">
    <div class="form-group">
        <label for="label">Label</label>
        <input type="text" class="form-control" name="label">
    </div>
    <div class="form-group">
        <label class="iconUrl" for="customFile">Icon URL</label>
        <input type="text" class="form-control" name="iconUrl" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Add Extra</button>
    </div>
</form>