<div class="homePage">
    <h1>Welcome</h1>
    <div>
        <p><strong>Here, you can host or rent an accomodation easily.</strong></p>
    <a href="/catalog" class="btn btn-primary">Explore</a>
    <a href="/create" class="btn btn-primary">Host</a>
    </div>
</div>