<h1>Sign-up Form</h1>
<form action="/register", method="post">
    <label for="username">Username</label>
    <input type="text" placeholder="username">
     <label for="password">Password</label>
    <input type="password" placeholder="******">
     <label for="repeatPass">Repeat Password</label>
    <input type="password" placeholder="******">
    <input type="submit" value="Sign in">
</form>